

.sendBox{
  display: flex;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: center;
  
  

  

} 
.button{
    
    text-align:center;
}