@import "~bootstrap/dist/css/bootstrap.css";
*{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    background: 
    linear-gradient(180deg, rgba(100,200,255,0.6), rgba(0,0,0,0.9)),
    url('./assets/img/download.jpg') center center no-repeat;

    background-attachment: fixed;
    background-size: cover;
    font-family: "open sans", sans-serif;
}
app-chat-room{
    display: flex;
    flex-direction: column;
}

app-chat-form{
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: none;
}

.message {

    display: block;
    height: auto;
}